body {
    font-family: "Courier New", Courier, monospace;
    background-color: #000000;
    color: #00ff00;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }
  
  #contenedor {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
  }
  
  #contenido {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
  }
  
  h1,
  h2 {
    margin-top: 0;
    font-size: 28px;
  }
  
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  li {
    margin-bottom: 10px;
  }
  
  a {
    color: #00ff00;
    text-decoration: none;
  }
  
  a:hover {
    color: #00ff00;
  }
  
  #code-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    font-size: 18px;
    line-height: 1.3;
    overflow: hidden;
  }
  
  #code {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000000;
    color: #00ff00;
    padding: 20px;
    white-space: pre-wrap;
  }
  
  @media (max-width: 768px) {
    #contenido {
      width: 90%;
      padding: 10px;
    }
  }
  
  img {
    display: block;
    margin: 0 auto;
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 50%;
    border: 5px solid #fff;
    box-shadow: 0px 0px 10px #000;
  }

  html, body {
    text-align: center;
  }
  
  h1, h2, h3, p, a {
    text-align: center;
  }
  
  body {
    background: url('../img/fondo.gif') repeat;
  }
  
  .foto {
    display: inline-block;
    overflow: hidden;
    border-radius: 50%;
    transition: transform 0.2s ease-out;
  }
  
  .foto:hover {
    transform: scale(1.2);
  }
  
  .boton-redondo.github {
    background-image: url('../img/github-icon.svg');
    background-size: contain;
  }
  
  .boton-redondo.linkedin {
    background-image: url('../img/linkedin-icon.svg');
    background-size: contain;
  }
  
  .redes-sociales {
    position: fixed;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
  }

  .boton-redondo {
    display: block;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 2px solid white;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    transition: transform 0.2s ease-in-out;
    margin-bottom: 10px;
  }
  
  .boton-redondo i {
    font-size: 24px;
    color: #000;
    line-height: 50px;
    text-align: center;
    transition: color 0.2s ease-out;
  }
  
  .boton-redondo:hover {
    background-color: #000;
  }
  
  .boton-redondo:hover i {
    color: #fff;
  }
  
  .boton-redondo:hover {
    transform: scale(1.2);
  }

.image-gallery {
  display: flex;
  align-items: center;
  border-radius: 0%;
  border: 0px solid #fff;
}

.image-list {
  display: flex;
  overflow-x: auto;
}

.image-list img {
  height: 150px;
  margin-right: 10px;
}
