body {
    background: url('../img/fondo.gif') repeat;
    font-family: "Courier New", Courier, monospace;
    background-color: #000000;
    color: #ffffff;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

p a {
  color: red;
}

.container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: start;
  height: 100vh;
  width: 100%;
  background-color: transparent;
  align-items: flex-start;
  justify-content: center;
}

.left-column {
  flex-basis: 34%;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: flex-start; /* Cambiar a flex-start */
  height: 60%;
  width: 100%;
  justify-content: flex-start; /* Cambiar a flex-start */
}

.right-column {
  flex-basis: 66%;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: flex-start; /* Cambiar a flex-start */
  height: 60%;
  width: 100%;
  justify-content: flex-start; /* Cambiar a flex-start */
}

h2 {
    text-align: center;
}

.project-list li {
    padding: 10px;
    border: 1px solid white;
    cursor: pointer;
    /* margin-bottom: 10px; */ /* Puedes eliminar este margen */
}


.project-list li.selected {
    background-color: white;
    color: black;
}

.project {
  padding: 20px;
}

.project.hidden {
    display: none;
}
