body {
    background: url('../img/fondo.gif') repeat;
    font-family: "Courier New", Courier, monospace;
    background-color: #000000;
    color: #00ff00;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }

.container {
  display: flex;
  height: 100vh;
  width: 100%;
  background-color: transparent;
}

.left-column {
  flex-basis: 33.33%;
}

.right-column {
  flex-basis: 66.67%;
}

h2 {
  text-align: center;
  margin-top: 50%;
  transform: translateY(-50%);
}
