body {
    background: url('../img/fondo.gif') repeat;
    font-family: "Courier New", Courier, monospace;
    background-color: #000000;
    color: #00ff00;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: start;
  height: 100vh;
  width: 100%;
  background-color: transparent;
  align-items: flex-start;
  justify-content: center;
}

.left-column {
  flex-basis: 34%;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: self-start;
  margin-top: initial;
  height: 100vh;
  width: 100%;
}

.right-column {
  flex-basis: 66%;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: self-start;
  margin-top: initial;
  height: 100vh;
  width: 100%;
}


h2 {
    text-align: center;
    margin-top: 50%;
    transform: translateY(-50%);
}

.project-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.project-list li {
    padding: 10px;
    border: 1px solid white;
    cursor: pointer;
    margin-bottom: 10px;
}

.project-list li.selected {
    background-color: white;
    color: black;
}

.project {
  padding: 20px;
  height: 300px;
  overflow-y: auto; /* Agrega scroll vertical si el contenido excede la altura */
}

.project.hidden {
    display: none;
}

.project-content {
  height: 300px; /* altura fija */
  display: flex;
  flex-direction: column;
  justify-content: center;
}
