<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Lista de enlaces desplazable</title>
    <link rel="stylesheet" href="pages.css">
  </head>
  <body>
    <div class="wrapper">
      <div class="links-container">
        <ul class="links-list">
          <li><a href="http://ale-uy.github.io/negrojack" title="NegroJack"><img="../static/img/link.png"></a></li>
          <li><a href="#" title=""><img="../static/img/link.png"></a></li>
          <li><a href="#" title=""><img="../static/img/link.png"></a></li>
          <li><a href="#" title=""><img="../static/img/link.png"></a></li>
          <li><a href="#" title=""><img="../static/img/link.png"></a></li>
          <li><a href="#" title=""><img="../static/img/link.png"></a></li>
          <li><a href="#" title=""><img="../static/img/link.png"></a></li>
          <li><a href="#" title=""><img="../static/img/link.png"></a></li>
          <li><a href="#" title=""><img="../static/img/link.png"></a></li>
          <li><a href="#" title=""><img="../static/img/link.png"></a></li>
        </ul>
      </div>
      <div class="description-container">
        <div class="description"></div>
      </div>
    </div>
    <script src="pages.js"></script>
  </body>
</html>
