<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Lista de enlaces desplazable</title>
    <link rel="stylesheet" href="pages.css">
  </head>
  <body>
    <div class="wrapper">
      <div class="links-container">
        <ul class="links-list">
          <li><a href="#">Enlace 1</a></li>
          <li><a href="#">Enlace 2</a></li>
          <li><a href="#">Enlace 3</a></li>
          <li><a href="#">Enlace 4</a></li>
          <li><a href="#">Enlace 5</a></li>
          <li><a href="#">Enlace 6</a></li>
          <li><a href="#">Enlace 7</a></li>
          <li><a href="#">Enlace 8</a></li>
          <li><a href="#">Enlace 9</a></li>
          <li><a href="#">Enlace 10</a></li>
        </ul>
      </div>
      <div class="description-container">
        <div class="description"></div>
      </div>
    </div>
    <script src="pages.js"></script>
  </body>
</html>
